/*============================
=            Base            =
============================*/

body {
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.logo {
    position: relative;
    width: 150px;
    margin: 0 auto 90px;
    img {
        z-index: 1;
        position: relative;
        @include border-radius(50%);
    }
}

h1 {
    margin-top: 20px;
    margin-bottom: 100px;
    font: rem(72px) "Montserrat", Arial, sans-serif;
    color: #fff;
    //text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
    cursor: default;
}

h2 {
    margin-top: 0;
    font: rem(26px) "Montserrat", Arial, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    &:after {
        content: "";
        display: block;
        width: 40px;
        height: 3px;
        margin-top: 5px;
        background-color: #000;
    }
}

img {
    max-width: 100%;
}

a {
    color: #ccc;
    &.bg-hover,
    p & {
        position: relative;
        white-space: nowrap;
        text-decoration: none;
        @include hw_accelerate();
        &:before {
            $widthOffset: 10px;
            $heightOffset: 6px;
            content: "";
            display: block;
            z-index: -1;
            position: absolute;
            top: ($heightOffset / 2 * -1);
            left: ($widthOffset / 2 * -1);
            width: calc(100% + #{$widthOffset});
            height: calc(100% + #{$heightOffset});
            background-color: #000;
            @include scale(0);
            @include transition-property(all);
            @include transition-duration(200ms);
            @include transition-timing-function(cubic-bezier(.25,.25,.325,1.39));
        }
        &:hover:before {
            @include scale(1);
        }
    }
}

p {
    font-weight: 300;
    color: #696969;
    &.heading {
        margin: 40px 0 25px;
        font-family: "Montserrat", Arial, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #000;
    }
}
