/*==================================
=            Navigation            =
==================================*/

.main-nav {
    .main-nav-wrapper {
        margin: 0;
        padding: 0;
        list-style-type: none;
        .main-nav-element {
            margin: 0;
            padding: 0;
        }
    }
}
