/*==================================
=            Typography            =
==================================*/

.section.posts .post-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0;
        line-height: auto;
        letter-spacing: 0;
        text-transform: none;
        color: #000;
        border: none;
        background: none;
        ma
        &:before,
        &:after {
            content: none;
        }
    }
    h1 {
        margin: 0.67em 0 0.4em;
        font-size: rem(48px);
    }
    h2 {
        margin: 0.75em 0 0.7em;
        font-size: rem(36px);
        color: #000;
    }
    h3 {
        margin: 0.83em 0 0.78em;
        font-size: rem(28px);
        color: #000;
    }
    h4 {
        margin: 1.12em 0 1.07em;
        font-size: rem(21px);
        color: #000;
    }
    h5 {
        margin: 1.5em 0 1.45em;
        font-size: rem(18px);
        color: #000;
    }
    p,
    li {
        font-size: rem(20px);
        font-weight: 300;
        color: #696969;
    }
    blockquote {
        margin-left: 0;
        padding-left: 1.5em;
        font-style: italic;
        border-left: 6px solid #f7f7f7;
    }
    .highlight {
        overflow: auto;
        padding: 16px;
        font-size: 85%;
        line-height: 1.45;
        border-radius: 3px;
        background-color: #f7f7f7;
        pre {
            margin: 0;
        }
    }
}
