/* line 1, ../sass/vendor/_highlight.scss */
.highlight {
  background: #ffffff;
}

/* line 2, ../sass/vendor/_highlight.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 3, ../sass/vendor/_highlight.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 4, ../sass/vendor/_highlight.scss */
.highlight .k {
  font-weight: bold;
}

/* Keyword */
/* line 5, ../sass/vendor/_highlight.scss */
.highlight .o {
  font-weight: bold;
}

/* Operator */
/* line 6, ../sass/vendor/_highlight.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 7, ../sass/vendor/_highlight.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 8, ../sass/vendor/_highlight.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 9, ../sass/vendor/_highlight.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 10, ../sass/vendor/_highlight.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 11, ../sass/vendor/_highlight.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */
/* line 12, ../sass/vendor/_highlight.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 13, ../sass/vendor/_highlight.scss */
.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 14, ../sass/vendor/_highlight.scss */
.highlight .gh {
  color: #999999;
}

/* Generic.Heading */
/* line 15, ../sass/vendor/_highlight.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 16, ../sass/vendor/_highlight.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */
/* line 17, ../sass/vendor/_highlight.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 18, ../sass/vendor/_highlight.scss */
.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 19, ../sass/vendor/_highlight.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 20, ../sass/vendor/_highlight.scss */
.highlight .gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 21, ../sass/vendor/_highlight.scss */
.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 22, ../sass/vendor/_highlight.scss */
.highlight .kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 23, ../sass/vendor/_highlight.scss */
.highlight .kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 24, ../sass/vendor/_highlight.scss */
.highlight .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 25, ../sass/vendor/_highlight.scss */
.highlight .kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 26, ../sass/vendor/_highlight.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 27, ../sass/vendor/_highlight.scss */
.highlight .m {
  color: #009999;
}

/* Literal.Number */
/* line 28, ../sass/vendor/_highlight.scss */
.highlight .s {
  color: #dd1144;
}

/* Literal.String */
/* line 29, ../sass/vendor/_highlight.scss */
.highlight .na {
  color: teal;
}

/* Name.Attribute */
/* line 30, ../sass/vendor/_highlight.scss */
.highlight .nb {
  color: #0086b3;
}

/* Name.Builtin */
/* line 31, ../sass/vendor/_highlight.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 32, ../sass/vendor/_highlight.scss */
.highlight .no {
  color: teal;
}

/* Name.Constant */
/* line 33, ../sass/vendor/_highlight.scss */
.highlight .ni {
  color: purple;
}

/* Name.Entity */
/* line 34, ../sass/vendor/_highlight.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 35, ../sass/vendor/_highlight.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 36, ../sass/vendor/_highlight.scss */
.highlight .nn {
  color: #555555;
}

/* Name.Namespace */
/* line 37, ../sass/vendor/_highlight.scss */
.highlight .nt {
  color: navy;
}

/* Name.Tag */
/* line 38, ../sass/vendor/_highlight.scss */
.highlight .nv {
  color: teal;
}

/* Name.Variable */
/* line 39, ../sass/vendor/_highlight.scss */
.highlight .ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 40, ../sass/vendor/_highlight.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 41, ../sass/vendor/_highlight.scss */
.highlight .mf {
  color: #009999;
}

/* Literal.Number.Float */
/* line 42, ../sass/vendor/_highlight.scss */
.highlight .mh {
  color: #009999;
}

/* Literal.Number.Hex */
/* line 43, ../sass/vendor/_highlight.scss */
.highlight .mi {
  color: #009999;
}

/* Literal.Number.Integer */
/* line 44, ../sass/vendor/_highlight.scss */
.highlight .mo {
  color: #009999;
}

/* Literal.Number.Oct */
/* line 45, ../sass/vendor/_highlight.scss */
.highlight .sb {
  color: #dd1144;
}

/* Literal.String.Backtick */
/* line 46, ../sass/vendor/_highlight.scss */
.highlight .sc {
  color: #dd1144;
}

/* Literal.String.Char */
/* line 47, ../sass/vendor/_highlight.scss */
.highlight .sd {
  color: #dd1144;
}

/* Literal.String.Doc */
/* line 48, ../sass/vendor/_highlight.scss */
.highlight .s2 {
  color: #dd1144;
}

/* Literal.String.Double */
/* line 49, ../sass/vendor/_highlight.scss */
.highlight .se {
  color: #dd1144;
}

/* Literal.String.Escape */
/* line 50, ../sass/vendor/_highlight.scss */
.highlight .sh {
  color: #dd1144;
}

/* Literal.String.Heredoc */
/* line 51, ../sass/vendor/_highlight.scss */
.highlight .si {
  color: #dd1144;
}

/* Literal.String.Interpol */
/* line 52, ../sass/vendor/_highlight.scss */
.highlight .sx {
  color: #dd1144;
}

/* Literal.String.Other */
/* line 53, ../sass/vendor/_highlight.scss */
.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 54, ../sass/vendor/_highlight.scss */
.highlight .s1 {
  color: #dd1144;
}

/* Literal.String.Single */
/* line 55, ../sass/vendor/_highlight.scss */
.highlight .ss {
  color: #990073;
}

/* Literal.String.Symbol */
/* line 56, ../sass/vendor/_highlight.scss */
.highlight .bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 57, ../sass/vendor/_highlight.scss */
.highlight .vc {
  color: teal;
}

/* Name.Variable.Class */
/* line 58, ../sass/vendor/_highlight.scss */
.highlight .vg {
  color: teal;
}

/* Name.Variable.Global */
/* line 59, ../sass/vendor/_highlight.scss */
.highlight .vi {
  color: teal;
}

/* Name.Variable.Instance */
/* line 60, ../sass/vendor/_highlight.scss */
.highlight .il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../sass/vendor/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 20, ../sass/vendor/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 44, ../sass/vendor/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 56, ../sass/vendor/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 66, ../sass/vendor/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 77, ../sass/vendor/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, ../sass/vendor/_normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 97, ../sass/vendor/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 108, ../sass/vendor/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 117, ../sass/vendor/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 125, ../sass/vendor/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 134, ../sass/vendor/_normalize.scss */
h1 {
  margin: .67em 0;
  font-size: 2em;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 143, ../sass/vendor/_normalize.scss */
mark {
  color: #000;
  background: #ff0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 152, ../sass/vendor/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 161, ../sass/vendor/_normalize.scss */
sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 75%;
  line-height: 0;
}

/* line 168, ../sass/vendor/_normalize.scss */
sup {
  top: -.5em;
}

/* line 172, ../sass/vendor/_normalize.scss */
sub {
  bottom: -.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 183, ../sass/vendor/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 191, ../sass/vendor/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 202, ../sass/vendor/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 210, ../sass/vendor/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 220, ../sass/vendor/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 231, ../sass/vendor/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 255, ../sass/vendor/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 3 */
  font: inherit;
  /* 2 */
  color: inherit;
  /* 1 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 265, ../sass/vendor/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, ../sass/vendor/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 293, ../sass/vendor/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 304, ../sass/vendor/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 313, ../sass/vendor/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 323, ../sass/vendor/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 336, ../sass/vendor/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 348, ../sass/vendor/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 358, ../sass/vendor/_normalize.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  /* 2 */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  /* 1 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 373, ../sass/vendor/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 381, ../sass/vendor/_normalize.scss */
fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 392, ../sass/vendor/_normalize.scss */
legend {
  padding: 0;
  /* 2 */
  border: 0;
  /* 1 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 401, ../sass/vendor/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 410, ../sass/vendor/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 421, ../sass/vendor/_normalize.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 427, ../sass/vendor/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 34, ../sass/mixins/_helpers.scss */
.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  line-height: 0;
}

/* line 43, ../sass/mixins/_helpers.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 47, ../sass/mixins/_helpers.scss */
* html .clearfix {
  height: 1%;
}

/*============================
=            Base            =
============================*/
/* line 5, ../sass/_base.scss */
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
}

/* line 9, ../sass/_base.scss */
.logo {
  position: relative;
  width: 150px;
  margin: 0 auto 90px;
}
/* line 13, ../sass/_base.scss */
.logo img {
  z-index: 1;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 20, ../sass/_base.scss */
h1 {
  display: inline-block;
  margin: 0;
  padding: 0 .15em;
  font: 3.375rem "Montserrat", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: #000;
}
/* line 28, ../sass/_base.scss */
h1 a {
  text-decoration: none;
  color: inherit;
}

/* line 34, ../sass/_base.scss */
.tagline {
  display: inline-block;
  margin-top: 0;
  padding: 0 .15em;
  font: 2rem "Montserrat", Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: #000;
}

/* line 44, ../sass/_base.scss */
h2 {
  margin-top: 0;
  font: 1.625rem "Montserrat", Arial, sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* line 49, ../sass/_base.scss */
h2 a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
}
/* line 54, ../sass/_base.scss */
h2 a:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: -8px;
  background-color: #000;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 65, ../sass/_base.scss */
h2 a:hover:after {
  width: 100%;
}
/* line 69, ../sass/_base.scss */
h2:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: -8px;
  background-color: #000;
}

/* line 80, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* line 84, ../sass/_base.scss */
a {
  font-weight: bold;
  color: #000;
}
/* line 88, ../sass/_base.scss */
a.bg-hover, p a {
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  -moz-transform: translateZ(0) translate3D(0, 0, 0);
  -ms-transform: translateZ(0) translate3D(0, 0, 0);
  -o-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0);
}
/* line 93, ../sass/_base.scss */
a.bg-hover:before, p a:before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  top: -3px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 6px);
  color: #fff;
  background-color: #000;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.325, 1.39);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.25, 0.325, 1.39);
  -o-transition-timing-function: cubic-bezier(0.25, 0.25, 0.325, 1.39);
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.325, 1.39);
}
/* line 111, ../sass/_base.scss */
a.bg-hover:hover, p a:hover {
  color: #fff;
}
/* line 114, ../sass/_base.scss */
a.bg-hover:hover:before, p a:hover:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 120, ../sass/_base.scss */
p {
  font-weight: 300;
  color: #696969;
}
/* line 123, ../sass/_base.scss */
p.heading {
  margin: 40px 0 25px;
  font-family: "Montserrat", Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
}

/* line 132, ../sass/_base.scss */
.button {
  display: inline-block;
  z-index: 1;
  position: relative;
  margin: 20px 0;
  padding: 12px 25px;
  font: 1rem "Montserrat", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: none;
  border: 3px solid #000;
  background-color: transparent;
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  -moz-transform: translateZ(0) translate3D(0, 0, 0);
  -ms-transform: translateZ(0) translate3D(0, 0, 0);
  -o-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
}
/* line 148, ../sass/_base.scss */
.button.white {
  color: #fff;
  border: 3px solid #fff;
}
/* line 151, ../sass/_base.scss */
.button.white:hover {
  color: #000;
}
/* line 154, ../sass/_base.scss */
.button.white:before {
  background-color: #fff;
}
/* line 158, ../sass/_base.scss */
.button:before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
}
/* line 172, ../sass/_base.scss */
.button:hover {
  color: #fff;
}
/* line 175, ../sass/_base.scss */
.button:hover:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

/*==================================
=            Typography            =
==================================*/
/* line 11, ../sass/_typo.scss */
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  padding: 0;
  line-height: auto;
  letter-spacing: 0;
  text-transform: none;
  color: #000;
  border: none;
  background: none;
}
/* line 21, ../sass/_typo.scss */
ma
.post-content h1:before, .post-content h1:after, ma
.post-content h2:before,
.post-content h2:after, ma
.post-content h3:before,
.post-content h3:after, ma
.post-content h4:before,
.post-content h4:after, ma
.post-content h5:before,
.post-content h5:after, ma
.post-content h6:before,
.post-content h6:after {
  content: none;
}
/* line 25, ../sass/_typo.scss */
.post-content h1 {
  margin: .67em 0 .4em;
  font-size: 3rem;
}
/* line 29, ../sass/_typo.scss */
.post-content h2 {
  margin: .75em 0 .7em;
  font-size: 2.25rem;
}
/* line 33, ../sass/_typo.scss */
.post-content h3 {
  margin: .83em 0 .78em;
  font-size: 1.75rem;
}
/* line 37, ../sass/_typo.scss */
.post-content h4 {
  margin: 1.12em 0 1.07em;
  font-size: 1.3125rem;
}
/* line 41, ../sass/_typo.scss */
.post-content h5 {
  margin: 1.5em 0 1.45em;
  font-size: 1.125rem;
}
/* line 46, ../sass/_typo.scss */
.post-content p,
.post-content li {
  font-size: 1.25rem;
  font-weight: 300;
  color: #696969;
}
/* line 51, ../sass/_typo.scss */
.post-content blockquote {
  margin-left: 0;
  padding-left: 1.5em;
  font-style: italic;
  border-left: 6px solid #f7f7f7;
}
/* line 57, ../sass/_typo.scss */
.post-content .highlight {
  overflow: auto;
  padding: 16px;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
  background-color: #f7f7f7;
}
/* line 64, ../sass/_typo.scss */
.post-content .highlight pre {
  margin: 0;
}

/*==============================
=            Layout            =
==============================*/
/* line 5, ../sass/_layout.scss */
.section-container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

/* line 11, ../sass/_layout.scss */
.post-single + .post-single {
  margin-top: 40px;
}

/*==================================
=            Navigation            =
==================================*/
/* line 6, ../sass/_navigation.scss */
.main-nav .main-nav-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 10, ../sass/_navigation.scss */
.main-nav .main-nav-wrapper .main-nav-element {
  margin: 0;
  padding: 0;
}

/*================================
=            Sections            =
================================*/
/* line 5, ../sass/_sections.scss */
.section {
  position: relative;
  padding: 100px 0;
}
/* line 8, ../sass/_sections.scss */
.section .section-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* line 15, ../sass/_sections.scss */
.section.home {
  background-image: url(/public/img/bg-section-home.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/* line 30, ../sass/_sections.scss */
.section.home .section-content {
  display: table-cell;
  vertical-align: middle;
  z-index: 1;
  position: relative;
  width: 1920px;
  max-width: none;
  text-align: center;
}

/* line 41, ../sass/_sections.scss */
.section.citation {
  padding: 100px 0;
  background-image: url(/public/img/bg-section-citation.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/* line 47, ../sass/_sections.scss */
.section.citation:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}
/* line 57, ../sass/_sections.scss */
.section.citation p {
  font: 1.625rem "Montserrat", Arial, sans-serif;
  font-style: italic;
  color: #fff;
}
/* line 62, ../sass/_sections.scss */
.section.citation p:before, .section.citation p:after {
  content: "\"";
}

/* line 68, ../sass/_sections.scss */
.section.stats {
  display: table;
  padding: 0;
  border-collapse: collapse;
}
/* line 72, ../sass/_sections.scss */
.section.stats .stats-section {
  display: table-cell;
  vertical-align: middle;
  width: 1920px;
  height: 210px;
  text-align: center;
  border: 1px solid #e2e2e2;
}
/* line 79, ../sass/_sections.scss */
.section.stats .stats-section a {
  text-decoration: none;
  color: inherit;
}
/* line 83, ../sass/_sections.scss */
.section.stats .stats-section .stat-value {
  font: 4.5rem "Montserrat", Arial, sans-serif;
}
/* line 86, ../sass/_sections.scss */
.section.stats .stats-section .stat-label {
  font: 700 1rem "Montserrat", Arial, sans-serif;
  text-transform: uppercase;
}

/* line 93, ../sass/_sections.scss */
.section.posts {
  overflow: hidden;
  padding: 100px 0;
}
/* line 96, ../sass/_sections.scss */
.section.posts.background {
  background-image: url(/public/img/bg-section-posts.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/* line 102, ../sass/_sections.scss */
.section.posts.short-list .section.posts:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.65)));
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 100%);
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 100%);
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 100%);
  background-image: linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 100%);
}
/* line 113, ../sass/_sections.scss */
.section.posts span,
.section.posts h2 {
  z-index: 1;
  position: relative;
}

/* line 119, ../sass/_sections.scss */
.section.project + .section.project {
  padding-top: 0;
}

/* line 123, ../sass/_sections.scss */
.section.contact {
  background-color: #ececec;
}

/* line 127, ../sass/_sections.scss */
.section.copyright {
  padding: 20px 0 16px;
  color: #646464;
  border-top: 1px solid #242424;
  background-color: #181818;
}
/* line 132, ../sass/_sections.scss */
.section.copyright p {
  float: left;
  width: 50%;
  font: 0.875rem "Montserrat", Arial, sans-serif;
  text-transform: uppercase;
}
/* line 138, ../sass/_sections.scss */
.section.copyright .social {
  float: right;
  width: 50%;
  text-align: right;
}
/* line 142, ../sass/_sections.scss */
.section.copyright .social a {
  color: #ccc;
}
/* line 145, ../sass/_sections.scss */
.section.copyright .social .social-element a:before {
  background-color: #2e2e2e;
}
/* line 148, ../sass/_sections.scss */
.section.copyright .social .social-element + .social-element {
  padding-left: 0;
  border-left: none;
}

/* line 155, ../sass/_sections.scss */
.social {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style-type: none;
}
/* line 160, ../sass/_sections.scss */
.social a {
  color: #fff;
}
/* line 163, ../sass/_sections.scss */
.social .social-element {
  display: inline-block;
  padding: 0;
  font: 700 32px "Montserrat", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}
/* line 169, ../sass/_sections.scss */
.social .social-element .bg-hover:before {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
}
/* line 178, ../sass/_sections.scss */
.social .social-element + .social-element {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

/*=============================
=            Forms            =
=============================*/
/* line 7, ../sass/_form.scss */
input[type="text"],
textarea,
button {
  outline: none;
}

/* line 11, ../sass/_form.scss */
form {
  margin-top: 40px;
}

/* line 15, ../sass/_form.scss */
input[type="text"] {
  display: inline-block;
  z-index: 1;
  position: relative;
  width: 49.75%;
  height: 41px;
  padding: 0;
  font-family: "Source Code Pro";
  font-size: 30px;
  font-weight: 300;
  line-height: 41px;
  border: none;
  border-bottom: 1px dashed #000;
  outline: none;
  background: transparent;
}

/* line 32, ../sass/_form.scss */
textarea {
  z-index: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 243px;
  padding: 0;
  font-family: "Source Code Pro";
  font-size: 30px;
  font-weight: 300;
  line-height: 41px;
  border: none;
  outline: none;
  background: transparent;
  resize: none;
}

/* line 49, ../sass/_form.scss */
.lines-wrapper {
  position: relative;
  margin: 0 0 30px;
}

/* line 54, ../sass/_form.scss */
.lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 243px;
}
/* line 60, ../sass/_form.scss */
.lines .line {
  display: block;
  height: 40px;
  border-bottom: 1px dashed #000;
}

/* line 67, ../sass/_form.scss */
.submit {
  position: relative;
  float: right;
  padding: 12px 25px;
  font: 700 1rem "Montserrat", Arial, sans-serif;
  text-transform: uppercase;
  border: 1px solid #fff;
  background-color: transparent;
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  -moz-transform: translateZ(0) translate3D(0, 0, 0);
  -ms-transform: translateZ(0) translate3D(0, 0, 0);
  -o-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0);
}
/* line 76, ../sass/_form.scss */
.submit:before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.325, 1.39);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.25, 0.325, 1.39);
  -o-transition-timing-function: cubic-bezier(0.25, 0.25, 0.325, 1.39);
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.325, 1.39);
}
/* line 91, ../sass/_form.scss */
.submit:hover:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
