<div class="section contact">
    <div class="section-content">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque cum corporis ullam, sapiente doloribus fuga magnam accusamus suscipit ipsa tempore consequuntur cupiditate, saepe labore reprehenderit expedita commodi odio eveniet? Fuga consequatur, quo nulla in cupiditate accusantium sunt expedita pariatur dignissimos magnam, soluta dolor inventore libero et magni voluptatem doloribus maiores quia ut error quas. Omnis quis architecto quas id dolorum laborum voluptatibus blanditiis nulla voluptatem possimus quibusdam assumenda provident, et explicabo eveniet. Inventore aperiam quis repellendus similique quod fugiat dolores amet commodi veritatis! Itaque ut earum doloremque dolor consequuntur voluptate facere illum eius omnis repudiandae! Doloribus, voluptates reiciendis possimus explicabo.</p>

        <form action="http://getsimpleform.com/messages?form_api_token=4e1e0c7b86ff2b82652c4c9cbe0126ab" method="post" class="clearfix">
            <input type="hidden" name="redirect_to" value="http://lefoy.net?form=submitted" />
            <input type="text" id="name" name="name" placeholder="name">
            <input type="text" id="email" name="email" placeholder="email">
            <div class="lines-wrapper">
                <textarea name="message" id="message" name="message" placeholder="message"></textarea>
                <span class="lines">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </div>

            <button type="submit" class="submit">Submit</button>
        </form>
    </div>
</div>
