<header class="single-header">
    <div class="single-header-wrapper">
        <a class="logo" href="{{site.website}}">lefoy</a>
        <nav class="single-header-navigation">
            <ul>
                <li>
                    <a href="{{site.website}}projects">More projects</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="project-header">
    <h1 class="project-title">{{site.title}}</h1>
    <p class="project-tagline">{{site.description}}</p>
    <div class="project-buttons">
        <a href="{{site.github}}"><i class="fa fa-github"></i></a>
        <a href="{{site.twitter}}"><i class="fa fa-twitter"></i></a>
        <a href="{{site.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a>
    </div>
</div>
