/*==============================
=            Layout            =
==============================*/

body {
    @include clearfix();
}

.l-page-wrapper {
    width: 620px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.single-header {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 80px;
    @include clearfix();
    .single-header-wrapper {
        position: relative;
        margin: 0 20px;
        @include clearfix();
    }
    .single-header-navigation li {
        display: inline-block;
        & + li {
            margin-left: 20px;
        }
    }
}

.logo {
    display: inline-block;
    margin: 0;
    line-height: 1em;
}

.single-header-navigation {
    position: absolute;
    top: 0;
    right: 0;
    ul {
        @extend .nobullet;
    }
}

.project {
    position: relative;
    padding: 100px 20px 20px;
}

.project-header {
    display: table-cell;
    vertical-align: middle;
    width: 1920px;
    height: 500px;
    padding-top: 80px;
    padding-right: 20px;
    padding-left: 20px;
    @include clearfix();
}

.project-content {
    padding: 60px 0;
    @include clearfix();
}

.project-content-left {
    position: relative;
    float: left;
    width: 30%;
    padding-right: 30px;
    @include clearfix();
}

.project-content-right {
    position: relative;
    float: right;
    width: 70%;
    @include clearfix();
    & > :first-child {
        margin-top: 0;
    }
}

.project-content-navigation {
    max-width: 220px;
}

.project-content-navigation ol {
    margin: 0;
    padding: 0;
}

.stat-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 1920px;
    height: 60px;
    text-align: center;
    h2,
    p {
        display: inline-block;
        margin: 0;
    }
}

.copyright {
    p {
        margin: 0;
    }
    .left,
    .right {
        display: table-cell;
        vertical-align: middle;
        width: 1920px;
        height: 60px;
    }
    .right {
        text-align: right;
    }
}

.blog-list,
.project-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        margin: 20px 0;
    }
    a {
        font-size: 30px;
    }
}

.project-list {
    .float-left {
        display: table-cell;
        vertical-align: top;
        width: 200px;
        padding-top: 5px;
        padding-right: 40px;
    }
    .float-right {
        display: table-cell;
        vertical-align: top;
        width: 340px;
        h2 {
            margin: 0;
        }
    }
}
