@function remove-px( $target ) {
    @if not unitless( $target ) {
        @return $target / 1px ;
    } @else {
        @return $target;
    }
}

@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}


@function rem($size) {
    $values: ();
    @if type-of( $size ) == list {
        @each $current in $size {
            $values: append( $values, remove-px($current) / 16 * 1rem);
        }
    } @else {
        $values: remove-px($size) / 16 * 1rem;
    }
    @return $values;
}

@mixin hw_accelerate {
    -webkit-transform: translateZ(0) translate3D(0,0,0);
       -moz-transform: translateZ(0) translate3D(0,0,0);
        -ms-transform: translateZ(0) translate3D(0,0,0);
         -o-transform: translateZ(0) translate3D(0,0,0);
            transform: translateZ(0) translate3D(0,0,0);
}

.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    line-height: 0;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
